<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- seo meta tags -->
    <meta name="description" content="PokeCards: Best App to view all Pokemon Cards">
    <meta name="keywords" content="pokemon, cards, pokemon cards,pokedex">
    <meta name="author" content="Narottam Sahu">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,500&display=swap"
        rel="stylesheet">
    <!-- lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"
        integrity="sha512-kwJUhJJaTDzGp6VTPBbMQWBFUof6+pv0SM3s8fo+E6XnPmVmtfwENK0vHYup3tsYnqHgRDoBDTJWoq7rnQw2+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/style.css">
    <!-- favicon icon -->
    <link rel="icon" href="/images/favicon96.png">
    <!-- web manifest -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ecf0f3" />

    <!-- ios suport -->
    <link rel="apple-touch-icon" href="/images/favicon96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#ecf0f3">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZD9R9G2BXE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZD9R9G2BXE');
    </script>
    <title>{{title}}</title>
</head>

<body>
    <header class="header">
        <img src="{{packLogo[0].images.symbol}}" alt="header-logo" class="header-logo">
        <div class="search-bar">
            <input type="text" id="search" onkeyup="sort()" placeholder="Search Pokemon" autocomplete="off">
            <i class="fas fa-search fa-2x"></i>
        </div>
    </header>

    {{ content | safe }}

    <!-- foooter -->
    <section class="footer">
        <p>This website is not produced, endorsed, supported, or affiliated with Nintendo or The Pokémon Company.
        </p>
        <b>Made with ❤️ by Narottam</b>
        <div class="social">
            <a href="https://github.com/Narottam04" target="_blank" rel="noreferrer>
                <i class=" fab fa-github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/narottam-sahu-40008a1bb/" target="_blank" rel="noreferrer>
                <i class=" fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/_webdrip/" target="_blank" rel="noreferrer>
                <i class=" fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=webdripdev@gmail.com" target="_blank" rel="noreferrer>
                <i class=" far fa-envelope fa-2x"></i>
            </a>
        </div>
    </section>
    <!-- javascript -->
    <script src="/javascript/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"
        referrerpolicy="no-referrer"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>